<!DOCTYPE html>
<html lang="en" ng-app='SuperHeroApp'>
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller='superHeroCtrl as vm'>
  <h1> Superhero Phone Book </h1>
  <input type "text" ng-model="search" placeholder="search">
  <div ng-repeat="superHero in vm.superHeroes | filter:search" ng-class="{'DC':superHero.affiliation==='DC Comics', 'Marvel':superHero.affiliation==='Marvel Comics'}">
    <p> {{superHero.name}}</p>
    <p> {{superHero.phone_number}}</p>
    <p> {{superHero.affiliation}}</p>
    <button ng-click='show = !show'> See Photo </button>
    <div ng-show='show'>
        <img src={{superHero.photo_url}}>
      </div>
    <hr>
  </div>
</body>
</html>
